<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!---Importaciones estilos -->
      
    <!---Fontawesome-->

    <script src="https://kit.fontawesome.com/470ef0ae30.js" crossorigin="anonymous"></script>
    
    <!---Boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    
    <!---Estilos propios-->
    <link rel="stylesheet" href="/css/estilos.css"> </link>

    <title>Mercado Liebre Argentina - Envíos gratis en el día</title>

</head>

<!---BODY-->

<body>
    <!---HEADER-->

    <header>
            <section class="grilla-superior">
                <img src="/img/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre" width="120" height="100" class="border" id="logo"/>
                
                <label id="barra"><input placeholder="Buscar productos, marcas, modelos" class="border" size="50px"></label>                       
                <i class="fa-solid fa-hand-holding-dollar" id="mano-dolar"></i><h5 id="comprar">Comprá en cuotas y sin tarjeta de crédito</h5>
            </section>

            <section class="grilla-superior2">
                <h6 id="productos"> Todos los productos <h6>                              
                <h6 id="ofertas">Ofertas</h6>
                <h6 id="tiendas">Tiendas oficiales</h6>
                <h6 id="vender">Vender</h6>
                <h6 id="ayuda">Ayuda </h6>
                <h6 id="crear-cuenta">Creá tu cuenta<i class="fa-solid fa-id-card"></i><h6>
                <h6 id="ingresa">Ingresá<i class="fa-solid fa-right-to-bracket"></i></h6>
                <h6 id="mis-compras">Mis compras<i class="fa-solid fa-basket-shopping"></i></h6> 
    
            </section>
        <img src="/img/img-home-banner.jpg"/>
    </header>

    <!--MAIN-->
        
    <main>
       <span id="texto-vista">Basado en tu ultima vista:</span>
       <br>
        <br>
        <br>
        <div class="contenedor-img">
        <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="240" height="300" id="cafetera" hspace="25px"/>
        <img src="/img/img-macbook-pro-2019.jpg"width="240" height="300" id="macbook" hspace="25px"/>
        <img src="/img/pedulas3.jpeg" width="240" height="300" id="pedulas" hspace="25px"/>
        </div>
        <br>
        <section class="cajapro">
            
            <h4 class="descuento">20% Off</h4>
            <h4 class="descripcion">Cafetera Moulinex</h4>
            <h4 class="descuento">20% Off</h4>
            <h4 class="descripcion">Cafetera Moulinex</h4>
        </section>
        
        <br>
        <div class="contenedor-img2">
        <img src="/img/stanley.jpeg" width="240" height="300" id="termo" hspace="25px"/>
        <img src="/img/img-samsung-galaxy-s10.jpg"width="240" height="300" id="celu" hspace="21px"/>
        <img src="/img/img-tv-samsung-smart.jpg"width="240" height="300" id="tele" hspace="25px"/>
        </div>
        
        <br>
        <br>
        <br>
    </main>

    <!---FOOTER-->
    <footer>
        <i class="fa-regular fa-credit-card"></i>
        <br>
        <div2><strong>Pagá con tarjeta o efectivo</strong></div2>
        <br>Con mercado liebre cash, tenes cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! 
        <br>
        <br><i class="fa-solid fa-gift"></i>
        <br>
        <strong>Envío gratis desde $2500</strong>
        <br>
        Solo por estar registrado en mercado liebre tenes envíos gratis en miles de productos. Es un beneficio de mercado puntos.
        <br><br><i class="fa-solid fa-user-shield"></i><br>
        <strong>Seguridad de principio a fin</strong><br>
        ¿No te gusta? ¡Devolvélo! En mercado liebre, no hay nada que no puedas hacer, porque estas siempre protegido.
        <br><br>Copyright 1999-2020
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>

<!---BODY-->
</html>